# ================================
# Django Environment Configuration
# ================================
# Copy this file to `.env` and replace values with your local credentials

# Django
SECRET_KEY=your-secret-key
DEBUG=True

# MySQL Database
DB_NAME=irctc_db
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=localhost
DB_PORT=3306

# MongoDB (used for logging & analytics)
MONGO_URI=mongodb+srv://admin:BUMBABABI123@cluster0.yopsk3a.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=irctc_logs
